<?xml version="1.0" encoding="utf-8"?>
<!--For more information on using transformations see the web.config examples at http://go.microsoft.com/fwlink/?LinkId=214134. -->
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
  </startup>
  <connectionStrings>
    <add name="ISISConnectionString" connectionString="Data Source=sql2012dev.nexus.uwaterloo.ca;Initial Catalog=itc-isis-test;Integrated Security=True" />
  </connectionStrings>
</configuration>